.navbar-brand {
    /* margin-left: 50%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
}

.logo-image {
    width: 2%;
    height: 2%;
    margin-left: 12px;
}

.form-floating {
    width: 50%;
    margin-left: 28%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    margin-left: 28%;
    width: 50%
}

.body h2 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 28%;
    color: rgb(99, 99, 228)
}

.body h6 {
    margin-left: 28%;
    color: rgb(219, 174, 77)
}

.body p {
    margin-left: 28%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body a {
    color:rgb(72, 30, 226)
}

