.navbar-brand {
    /* margin-left: 50%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
}

.logo-image {
    width: 2%;
    height: 2%;
    margin-left: 12px;
}

.profile img {
    width: 15%; 
    height: 10%; 
    /* margin-right: 20%; */
    /* margin-left: 38%; */
  }
  
  .profile-info {
    flex: 1; 
  }
  
  .profile-info p {
    margin-right: 552px; 
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .body p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    margin-left: 8px;
    font-weight: bold;
  }
  
  .table {
    margin-left: 8px;
    margin-right: 2px;
  }

  .table th {
    width: 25%
  }


