<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/img/logo_new.jpg" class="logo-image">

  <div class="container-fluid">
    <!-- <img src="assets/img/logo_new.jpg" class="logo-image"> -->
    <div class="navbar-brand">TRACKER</div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <h6 class="nav-link active" aria-current="page" routerLink="/appointment">Appointment
        </h6>
      </li>
      <li class="nav-item">
        <h6 class="nav-link" tabindex="-1" routerLink="/profile">Profile</h6>
      </li>
      <li class="nav-item">
        <h6 class="nav-link" tabindex="-1" routerLink="/">Logout</h6>
      </li>
    </ul>
  </div>
</nav><br>

<div class="body">

  <div *ngIf="!passwordPage">
    <!-- password updated succesfully -->
    <div *ngIf="successmessage" class="success">
      <img src="assets/img/tick.png" alt="Tick Icon" class="tick-image">
      <p>Your Password is updated!. <a routerLink="/profile">Click</a> to go at profile page.</p>
    </div>

    <!-- password not updated successfully -->
    <div *ngIf="errormessage" class="error">
      <img src="assets/img/error.jpg" alt="Error Icon" class="error-image">
      <p>OOPS! Your Password is not updated. Try Again!</p>
    </div>
  </div>

  <div *ngIf="passwordPage">
    <h2>Change Password</h2><br><br>
    <form (ngSubmit)="onSubmit(updateForm)" #updateForm="ngForm">
      <div class="form-floating mb-3">
        <input type="text" required class="form-control" id="olspassword" placeholder="oldpassword" name="oldpassword"
          [(ngModel)]="oldpassword">
        <label for="olspassword">Old Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" required class="form-control" id="newpassword" placeholder="newpassword"
          name="newpassword" [(ngModel)]="newpassword">
        <label for="newpassword"> New Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" required class="form-control" id="confirmnewpassword" placeholder="confirmnewpassword"
          name="confirmnewpassword" [(ngModel)]="confirmnewpassword">
        <label for="confirmnewpassword"> Confirm New Password</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>