.navbar-brand {
    /* margin-left: 50%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
}

.logo-image {
    width: 2%;
    height: 2%;
    margin-left: 12px;
}

.body { 
    margin-top: 92px;
}
/* .nav-item {
    margin-right: 12px;
} */

.form-floating {
    width: 50%;
    margin-left: 28%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    margin-left: 28%;
    width: 50%
}

.body h2 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 28%;
    color:rgb(131, 52, 82)
}

.body p {
    margin-left: 28%;
    color: red
}