<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/img/logo_new.jpg" class="logo-image">

    <div class="container-fluid">
        <!-- <img src="assets/img/logo_new.jpg" class="logo-image"> -->
        <div class="navbar-brand">TRACKER</div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <h6 class="nav-link active" aria-current="page" routerLink="/appointment" routerLinkActive="active">
                    Appointment</h6>
            </li>
            <li class="nav-item">
                <h6 class="nav-link" tabindex="-1" routerLink="/profile">Profile</h6>
            </li>
            <li class="nav-item">
                <h6 class="nav-link" tabindex="-1" routerLink="/">Logout</h6>
            </li>
        </ul>
    </div>
</nav><br>

<div class="body">

    <!-- appointemnt api response -->
    <div *ngIf="!appointmentPage">

        <!-- successfully appointment fix -->
        <div *ngIf="successfulMessage" class="success">
            <img src="assets/img/tick.png" alt="Tick Icon" class="tick-image">
            <p>Congratulations! Your Appointment is fix with {{ firstname + " " + lastname }}!</p>
        </div>

        <!-- not fixed, need to reschedule the appointment -->
        <div *ngIf="errorMessage" class="error">
            <img src="assets/img/error.jpg" alt="Error Icon" class="error-image">
            <p>Guest is not available! Please select another time slot.</p>
        </div>
    </div>

    <!-- when user need to schedule a appointment -->
    <div *ngIf="appointmentPage">
        <h2>Schedule Your Appointment</h2><br>
        <form (ngSubmit)="onSubmit(appointmentForm)" #appointmentForm="ngForm">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" placeholder="title" name="title" [(ngModel)]="title"
                    required>
                <label for="title">Title</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="agenda" placeholder="agenda" name="agenda"
                    [(ngModel)]="agenda" required>
                <label for="agenda">Agenda</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="firstname" placeholder="firstname" name="firstname"
                    [(ngModel)]="firstname" required>
                <label for="firstname">Guest First Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lastname" placeholder="lastname" name="lastname"
                    [(ngModel)]="lastname" required>
                <label for="lastname">Guest Last Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="email@gmail.com" name="email"
                    [(ngModel)]="email" required>
                <label for="email">Guest Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="date" placeholder="date" name="date" [(ngModel)]="date"
                    required>
                <label for="date">Date</label>
            </div>

            <div class="form-floating mb-3">
                <input type="time" class="form-control" id="fromtime" placeholder="fromtime" name="fromtime"
                    [(ngModel)]="fromtime" required>
                <label for="fromtime"> From Time</label>
            </div>

            <div class="form-floating mb-3">
                <input type="time" class="form-control" id="totime" placeholder="totime" name="totime"
                    [(ngModel)]="totime" required>
                <label for="totime"> To Time</label>
            </div><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>