.body {
    position: sticky;
}

.navbar-brand {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
}

.logo-image {
    width: 2%;
    height: 2%;
    margin-left: 12px;
}

.carousel-caption {
    font-size: 52px;
    margin-bottom: 152px;
    letter-spacing: 1px; 
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white
}

.carousel-caption h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.carousel-caption h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(226, 217, 226)
}

.carousel-inner img {
    filter: blur(3.5px); 
}

.carousel-item img {
    height: 595px
}


